@model List<Employee>
@{
    ViewData["Title"] = "Data Table of Employee";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<h2>Employee Data</h2>

<div class="container">
    <div style="width:90%; margin:0 auto;">
        <table id="myTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Age</th>
                    <th>Office</th>
                </tr>
            </thead>


        </table>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>



<script>


    $('#myTable thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#myTable thead ');


    var table = $('#myTable').DataTable({
      
     
        "paging": true,
        "pageLength": 5,
        "processing": true,
        "serverSide": true,
        "lengthMenu": [2, 5, 10, 15],
        "orderCellsTop": true,
       
        initComplete: function () {
            var api = this.api();

            // For each column
            api
            
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.display th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');

                    // On every keypress in this input
                    $(
                        'input',
                        $('.display th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();


                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();

                            // Store cursor position as a data attribute
                            $(this).data('cursor-position', this.selectionStart);

                        })
                   
                        .on('keyup', function (e) {
                            e.stopPropagation();

                            $(this).trigger('change');
                            var cursorPosition = $(this).data('cursor-position');
                            $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    
        "ajax": {
            "url": "/DataTable/EmployeeList",
            "type": "POST",

            "error": function (xhr, error, thrown) {
                console.log("DataTables error:", error);
            }
        },
        "columnDefs": [{
            "targets": [0],

            "searchable": false
        }],
        // table ko header haru ko column
        "columns": [

            { data: "id", "name": "ID", "autoWidth": true },
            { data: "name", "name": "Name", "autoWidth": true },
            { data: "position", "name": "Position", "autoWidth": true },
            { data: "age", "name": "Age", "autoWidth": true },
            { data: "office", "name": "Office", "autoWidth": true }
        ]
             




    });

</script> 