@model PersonalInformation
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

<h2>PersonalInformationData</h2>

<div class="container">
    <div style="width:90%; margin:0 auto;">
        <table id="myTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>MiddleName</th>
                    <th>LastName</th>
                    <th>ProvienceId</th>
                    <th>DistrictId</th>
                    <th>MuniId</th>
                    <th>Tole</th>
                    <th>Ward</th>
                    <th>HomePhoneNumber</th>
                    <th>Mobile</th>
                    <th>CitizenshipNo</th>
                    <th>Email</th>
                    <th>HasLicence</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>


        </table>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $('#myTable').DataTable({

        "paging": true,
        "pageLength": 14,
        "processing": true,
        "serverSide": true,
        "lengthMenu": [2, 4, 6],


        "ajax": {
            "url": "/PersonalInformationDataTable/LoadData",
            "type": "POST",
            "dataType": "Json",

            "error": function (xhr, error, thrown) {
                console.log("DataTables error:", error);
            }
        },
        "columnDefs": [{
            "targets": [0],

            "searchable": false
        }],

        // table ko header haru ko column

        "columns": [
            { data: "id", "name": "ID", "autoWidth": true },
            { data: "firstName", "name": "FirstName", "autoWidth": true },
            { data: "middleName", "name": "MiddleName", "autoWidth": true },
            { data: "lastName", "name": "LastName", "autoWidth": true },
            { data: "provienceId", "name": "ProvienceId", "autoWidth": true },
            { data: "districtId", "name": "DistrictId", "autoWidth": true },
            { data: "muniId", "name": "MuniId", "autoWidth": true },
            { data: "tole", "name": "Tole", "autoWidth": true },
            { data: "ward", "name": "Ward", "autoWidth": true },
            { data: "homePhoneNumber", "name": "HomePhoneNumber", "autoWidth": true },
            { data: "mobile", "name": "Mobile", "autoWidth": true },
            { data: "citizenshipNo", "name": "CitizenshipNo", "autoWidth": true },
            { data: "email", "name": "Email", "autoWidth": true },
            { data: "hasLicence", "name": "HasLicence", "autoWidth": true, render: function (data, type, row) { return data ? 'Yes' : 'No'; } },
           


           {
                "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/PersonalInformationDataTableController/Edit/' + full.Id + '">Edit</a>'; }
            },
            {
                data: null, render: function (data, type, row) {
                    return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";
                }
            },


        ]




    });

</script>
