@using InternshipForm.Views.ViewModel
@model InternshipStatusViewModel



<h2>Application Status</h2>
<div class="card-container">
   
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PersonalInformation.FirstName PersonalInformation.LastName</h5>
                <p class="card-text">Email: PersonalInformation.Email</p>
                <p class="card-text">Internship: CreateInternship.TitleOfInternship</p>
               @*  <p class="card-text">Internship Title: @application.CreateInternship.TitleOfInternship</p> *@
                <p class="card-text">Status: PersonalInformation.Status</p>
            </div>
        </div>
    
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}
