@* UserLogout.cshtml *@
@{
    ViewData["Title"] = "Logout";
}

<!DOCTYPE html>
<html>

    <title>@ViewData["Title"]</title>
   

<body>

  

    <h2>Logout Page</h2>

   <form>
    @if (TempData["Message"] != null)
    {
        <div>@TempData["Message"]</div>
    }

   
    <button onclick="confirmLogout()">Logout</button>

    </form>
    <script>
        function confirmLogout() {
            if (confirm("Are you sure you want to logout?")) {
                window.location.href = "/RegisterUser/UserLogout"; // Redirect to logout action
            }
        }
    </script>
</body>
</html>
